*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;
}
header{
    position:absolute;
    top: -10px;
    left: -45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}
header .logo img {
    width: 150px;

}
header >ul{
    display: flex;
    list-style: none;
    margin: 0px 10px;
}
header >ul >li{
    margin: 0px 15px;
}
header >ul >li >a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 250;
    letter-spacing: 1px;
}
header >ul >li:hover a{
    color: #de0611;
    text-decoration: none;
}
header .search {
    position: relative;
    height: 40px;
    width: 300px;
}
header .search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    outline: none;
    padding: 0px 10px 0px 30px;
    backdrop-filter: blur(10px);
}
.search input::placeholder{
    color: #fff;
}
.search .fa-search{
    position: absolute;
    line-height: 40px;
    left: 10px;
    color: #fff;
    padding-right: 10px;
}
.search input:hover {
    width: 200px;
    background-color: black;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position: relative;
    z-index: 1;
    max-width: 550px;
}
.movieTitle{
    max-width: 500px;
    margin-top: -100px;
}
.banner .content>h4{
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    letter-spacing: 2px;
}
.banner .content >h4>span i {
    font-style: normal;
    background-color: #524f4f;
    display: inline-block;
    color: white;
    padding: 0px 8px;
    border-radius: 4px; 
}
.banner .content p{
    color: white;
    margin: 10px 0px 20px;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1em;
}
.banner .content .buttons{
    position: relative;
}
.banner .content .buttons a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background-color: #7e7c7c;
    color: rgb(255, 255, 255);
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}
.banner .content .buttons i{
    margin-right: 10px;
}
.banner .content .buttons a:nth-child(2){
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.banner .content .buttons a:nth-child(2):hover{
    background-color: #7e7c7c(0, 0%, 100%);
    transition: all 0.5s;
}


